<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>fullPage.js A simple Demo</title>
	<meta name="author" content="Magnus Wahlstrand" />
	<meta name="description" content="fullPage very simple demo." />
	<meta name="keywords"  content="fullpage,jquery,demo,simple" />
	<meta name="Resource-type" content="Document" />


	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='jquery.fullPage.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='examples.css') }}" />


	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='vendors/scrolloverflow.js') }}"></script>

	<script type="text/javascript" src="{{ url_for('static', filename='jquery.fullPage.js') }}"></script>
	<script type="text/javascript">


		// Change to page representing system state
		function changeState() {
			$.getJSON('http://localhost:5000/state', function(response) {
				page = response.basename;
				index = 0;
				console.log(page, index);
				$.fn.fullpage.moveTo(page, index);
			});
		}

		$(document).ready(function() {


			$('#fullpage').fullpage({
				anchors: ['deploying', 'deploying_complete', 'testing', 'testing_complete', 'idle'],
				sectionsColor: ['#7BAABE', 'whitesmoke', '#ccddff'],
				menu: '#menu',
				navigation:false,

				css3: true
			});


			// Change state every 1 seconds
			setInterval(function(){ changeState() }, {{ options.updateFrequency if options.updateFrequency else '1000'  }});


			$('.moveTo').click(function(e){
				e.preventDefault();

				var page = $(this).data('page');
				var index = parseInt($(this).data('page-index'));
				alert(page + index)

				$.fn.fullpage.moveTo(page, index);
			});
		});
	</script>

</head>
<body>

<ul id="menu">

	{% for state in states %}
		<li data-menuanchor="{{ state.basename }}"><a href="#{{ state.basename }}">{{ state.title }}</a></li>
	{% endfor %}
</ul>
<div id="fullpage">
	<div class="section active" id="section0"><h1>Deploying</h1></div>
	<div class="section" id="section1"><h1>Deployment complete</h1></div>
	<div class="section" id="section2"><h1>Testing</h1></div>
	<div class="section" id="section3"><h1>Testing complete</h1></div>
	<div class="section" id="section4"><h1>Idle</h1></div>
</div>

</body>
</html>